
@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src:
		local('Lato'),
		url('https://fonts.cdnfonts.com/s/14882/Lato-Bold.woff') format('woff'),
		url('https://fonts.gstatic.com/s/lato/v23/S6u9w4BMUTPHh6UVSwiPGQ.woff2') format('woff2');
}

* {
	border: 0;
	margin: 0;
	padding: 0;
	outline: 0;
	list-style: none;
	text-decoration: none;
	font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, Roboto, sans-serif;
}

body {
	color: #fff;
	background-color: #234b8d;
	font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, Roboto, sans-serif;
}

div {
	color: #fff;
	display: flex;
	height: 100vh;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	background-color: #234b8d;
}

h1 {
	width: 100%;
	color: #fff;
	margin: 0.6em 0;
	font-size: 2.4rem;
	text-align: center;
	background-color: #234b8d;
}

h2 {
	width: 100%;
	color: #fff;
	margin: 0.6em 0;
	font-size: 1.8rem;
	text-align: center;
	background-color: #234b8d;
}

a:link {
	color: #fff;
	text-decoration: none;
	background-color: #234b8d;
}

a:hover {
	color: #fff;
	margin-left: 0.6em;
	margin-right: 0.6em;
	text-decoration: none;
	background-color: #234b8d;
}

a:active {
	color: #fff;
	text-decoration: none;
	background-color: #234b8d;
}

a:visited {
	color: #fff;
	text-decoration: none;
	background-color: #234b8d;
}

a:visited:hover {
	color: #fff;
	text-decoration: none;
	background-color: #234b8d;
}

@media (max-width: 480px) {

	span.size {
		display: none;
	}

}
